        <!-- Car Parts Section -->
        <div class="row mb-5 bg-light Demo shadow" id="carparts-list">
            <h2 class="mb-3 heading">Car Parts</h2>
            {% for carPart in carParts %}
                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                    <div class="product" style="cursor: pointer;" onclick="location.href='{{ url_for('product.get_product', product_id=carPart.id) }}'event.stopPropagation();">
                        <!-- Image Carousel Section -->
                        <div class="image-container">
                            <div id="carousel-{{ carPart.id }}" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    {% if carPart.product_images|length > 0 %}
                                        {% for image in carPart.product_images %}
                                            <div class="carousel-item  {% if loop.first %}active{% endif %}">
                                                <img class="d-block w-100 rounded" src="{{ url_for('uploaded_file', folder='products', filename=image.image_path) }}" alt="Product Image" style="height: 200px; object-fit: cover;">
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="carousel-item active">
                                            <img src="path/to/default-image.jpg" class="d-block w-100 rounded" alt="Default Thumbnail" style="height: 200px; object-fit: cover;">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="price"> KES{{ "{:,.2f}".format(carPart.price) }} </div> 
                        </div>

                        <!-- Price Section -->


                        <label class="favorite">
                            <input type="checkbox" id="like-checkbox-{{ carPart.id }}"
                                   {% if carPart.id in liked_items['products'] %}checked{% endif %}
                                   onclick="event.stopPropagation(); toggleLike({{ carPart.id }}, 'product', this)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="heart-icon">
                                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                            </svg>
                        </label>
                        
                        <!-- Product Information Section -->
                        <div class="content">
                            
                            <div class="brand heading"> {{ carPart.name }} </div>
                            <div class="product-name heading">{{ carPart.description }}</div>
                            <div class="rating">
                                ({{ carPart.reviews_count }}) 
                            </div>
                        </div>

                        <!-- Action Buttons Section -->
                        <div class="button-container">
                            <button class="buy-button button" onclick="location.href='{{ url_for('product.get_product', product_id=carPart.id) }}'">Buy Now</button>
                            <button class="cart-button button">
                                <i id="add-to-cart-icon-{{ carPart.id }}" class=" fa-xs fa-duotone fa-solid fa-cart-shopping " style="color: #74C0FC;" title="Add to Cart" onclick="event.stopPropagation(); addToCart({{ carPart.id }}, 'product')"></i>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>




        <footer class="bg-dark footer mt-3">
            <div class=" py-8">
                <div class="container">
                    <div class="row gy-5">
                        <div class="col-lg-8 pe-xxl-10">
                            <div class="row gy-5">
                                <div class="col-6 col-lg-4">
                                    <h5 class="text-white footer-title-01">NASIM GENERAL MERCHANTS</h5>
                                    <ul class="list-unstyled footer-link-01 m-0">
                                        <li><a class="text-white text-opacity-75" href="#">Cars</a></li>
                                        <li><a class="text-white text-opacity-75" href="#">Car Parts</a></li>
                                        <li><a class="text-white text-opacity-75" href="#">Household Items</a></li>
                                        <li><a class="text-white text-opacity-75" href="#">Computers</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <h5 class="text-white footer-title-01">Find us online</h5>
                                    <ul class="list-unstyled footer-link-01 m-0">
                                        <li>
                                            <a class="text-white text-opacity-75" href="https://www.facebook.com/aselcars.cars?mibextid=kFxxJD" target="_blank">
                                                <i class="fa-brands fa-facebook"></i> Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a class="text-white text-opacity-75" href="https://www.tiktok.com/yourprofile" target="_blank">
                                                <i class="fa-brands fa-tiktok"></i> TikTok
                                            </a>
        
                                        </li>
                                        <li>
                                            <a class="text-white text-opacity-75" href="https://www.youtube.com/yourchannel" target="_blank">
                                                <i class="fa-brands fa-youtube"></i> YouTube
                                            </a>
        
                                        </li>
                                        <li>
                                            <a class="text-white text-opacity-75" href="https://x.com/FrankOyoo" target="_blank">
                                                <i class="fa-brands fa-x-twitter"></i> Twitter
                                            </a>
        
                                        </li>
                                        <li>
        
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <h5 class="text-white footer-title-01">Need Help?</h5>
                                    <ul class="list-unstyled footer-link-01 m-0">
                                        <li><a class="text-white text-opacity-75" href="#">Contact Us</a></li>
                                        <li><a class="text-white text-opacity-75" href="#">FAQs</a></li>
                                        <li><a class="text-white text-opacity-75" href="#">Offers &amp; Kits</a></li>
                                        <li><a class="text-white text-opacity-75" href="#">Get the app</a></li>
                                        <li><a class="text-white text-opacity-75" href="#">Store locator</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h5 class="text-white footer-title-01 fs-5">Subscribe to our newsletter and get 15% off your next order.</h5>
                            <div>
                                <form class="d-flex flex-row mb-2 p-1 bg-white input-group"><input type="email" class="form-control rounded border-0" placeholder="Your Email"> <button class="btn btn-secondary flex-shrink-0" type="submit">Subscribe</button></form>
                                <p class="fs-sm text-white text-opacity-75">I agree to receive Absolution newsletters</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom small py-3 border-top border-white border-opacity-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start py-1">
                            <p class="m-0 text-white text-opacity-75">© 2022 copyright by <a class="text-reset" href="#">bootdey.com</a></p>
                        </div>
                        <div class="col-md-6 text-center text-md-end py-1">
                            <ul class="nav justify-content-center justify-content-md-end list-unstyled footer-link-01 m-0">
                                <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-white text-opacity-75">Privace &amp; Policy</a></li>
                                <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-white text-opacity-75">Faq's</a></li>
                                <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-white text-opacity-75">Get a Quote</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>