{% extends 'admin_base.html' %}

{% block main_content %}
<div class="container-fluid holders d-flex align-items-center justify-content-center vh-100 mt-3" >
    <div class="row align-items-center justify-content-center w-100" >


        <div class="col-lg-8 vh-100">
            
            <form class="form" action="{{ url_for('brand_bp.create_brand') }}" method="POST" enctype="multipart/form-data">
                <h1 class="heading mt-4 mb-4">Create Brand</h1>
                <div class="form-group mb-2 mt-2">
                    <input type="text" class="form-control" id="brand_name" name="brand_name" placeholder="Brand Name:" required>
                </div>
                <div class="form-group mb-3">
                    <input type="file" class="form-control form-control-sm " id="brand_logo" name="brand_logo" required placeholder="Brand Logo:">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label col-lg-4">Category Type</label>
                    <select type="select" class="form-control col-lg-7" id="category" name="category" required>
                        <option value="">Select A Category</option>
                        {% for category_type in cats %}
                        <option name="category" id="category" name="category"  value="{{ category_type.value }}" {% if category == category_type.value %}selected{% endif %}>
                            {{ category_type.value }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn-login mb-2 mt-3">Create Brand</button>
            </form>
            </div>


    </div>
</div>    
{% endblock %}
