{% extends 'admin_base.html' %}

{% block main_content %}

<div class="mt-2 mb-2 col-lg-8 shadow form p-3 m-3 mt-2 mb-2 vh-100">
    <h1 class="heading mt-5 mb-5">Edit Brand: {{ brand.brand_name }}</h1>
    <form action="{{ url_for('brand_bp.update_brand', brand_id=brand.id) }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="brand_name">Brand Name:</label>
            <input type="text" class="form-control" id="brand_name" name="brand_name" value="{{ brand.brand_name }}" required>
        </div>
        <div class="">
            
        </div>
        <div class="form-group">
            <label  class="" for="brand_logo" name="brand_logo">Brand Logo:</label>
            <input type="file" class="form-control form-control-sm" id="brand_logo" name="brand_logo" >
            <small>Current Logo: <img class="w-100 mt-1 mb-1" src="{{ url_for('uploaded_file', folder='brands', filename=brand.brand_logo) }}" alt="{{ brand.brand_name }} Logo" style="max-width: 100px;"/></small>
        </div>
        <button type="submit" class="btn-login">Update Brand</button>
    </form>
</div>

{% endblock %}
