{% extends "admin_base.html" %}
{% block title %}  
Create_Blog
{% endblock %}

{% block main_content %}

<div class="container mt-5">
    <h2>Create a New Blog Post</h2>
    <form class="mb-3 mt-2" action="{{ url_for('blogs.create_blog') }}" method="POST" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" required placeholder="Blog title">
        </div>

        <!-- Content Textarea with TinyMCE Editor -->
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>

            <textarea class="form-control" id="content" name="content" rows="8" required></textarea>
        </div>

        <div class="mb-3 d-none">

            <label for="user_id" class="form-label">User</label>>
            <input type="text" value="{{ user.id }}" class="form-control" id="user_id" name="user_id" >
        </div>
        <div class="mb-3">
            <label for="images" class="form-label">Blog Images</label>
            <input type="file" class="form-control" id="images" name="images" required>
            <small class="form-text text-muted">You can upload multiple images.</small>
        </div>

        <button type="submit" class="btn btn-primary">Create Blog</button>
    </form>
</div>


{% endblock %}
