{% extends "admin_base.html" %}
{% block title %}  
Create_Blog
{% endblock %}

{% block main_content %}

<div class="container mt-5">
    <h2>Create a New Blog Post</h2>
    <form class="mb-3 mt-2" action="{{ url_for('blogs.create_blog') }}" method="POST" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" required placeholder="Blog title">
        </div>

        <!-- Content Textarea with TinyMCE Editor -->
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
                            <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
                <script>
                    tinymce.init({
                    selector: 'textarea',
                    plugins: [
                        // Core editing features
                        'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                        // Your account includes a free trial of TinyMCE premium features
                        // Try the most popular premium features until Dec 29, 2024:
                        'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
                    ],
                    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                    tinycomments_mode: 'embedded',
                    tinycomments_author: 'Author name',
                    mergetags_list: [
                        { value: 'First.Name', title: 'First Name' },
                        { value: 'Email', title: 'Email' },
                    ],
                    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
                    });
                </script>
                <textarea id="content" name="content">
                    Welcome to TinyMCE!
                </textarea>

        </div>

        <div class="mb-3 d-none">

            <label for="user_id" class="form-label">User</label>>
            <input type="text" value="{{ user.id }}" class="form-control" id="user_id" name="user_id" >
        </div>
        <div class="mb-3">
            <label for="images" class="form-label">Blog Images</label>
            <input type="file" class="form-control" id="images" name="images" required>
            <small class="form-text text-muted">You can upload multiple images.</small>
        </div>

        <button type="submit" class="btn btn-primary">Create Blog</button>
    </form>
</div>


{% endblock %}
