{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">



<!-- Sidebar -->
<div class="text-dark d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;">
    <a href="{{ url_for('admin_bp.home') }}"  class="d-block p-3 link-body-emphasis text-decoration-none"  data-bs-toggle="tooltip" data-bs-placement="right">
      <svg class="bi pe-none" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="visually-hidden">Icon-only</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="{{ url_for('admin_bp.home') }}" class="nav-link active py-3 border-bottom rounded-0" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="fa-duotone fa-solid fa-house" aria-label="Home"></i> 
        </a>
      </li> 
      <li>
        <a href="{{ url_for('brand_bp.view_all_brands') }}" class="nav-link py-3 border-bottom rounded-0" tittle="Brands"  data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="fa-sharp-duotone fa-solid fa-award" aria-label="Brands"></i>
        </a>
      </li>
      <li>
        <a href="{{ url_for('user.view_all_users') }}" class="nav-link py-3 border-bottom rounded-0" tittle="Users" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="fa-duotone fa-solid fa-users" aria-label="Users"></i>
          </a>
      </li>
      <li>
        <a href="{{ url_for('car.get_cars') }}" class="nav-link py-3 border-bottom rounded-0" title="Cars" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="fa-duotone fa-solid fa-car" ></i>
        </a>
      </li>
      <li>
        <a href="{{ url_for('category.list_categories') }}" class="nav-link py-3 border-bottom rounded-0" title="Categgories" data-bs-toggle="tooltip" data-bs-placement="right">
           <i class="fa-duotine fa-solid fa-list" ></i>
        </a>
      </li>
      <li>
        <a href="{{ url_for('order.get_orders') }}" class="nav-link py-3 border-bottom rounded-0" title="Oders" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="fa-duotine fa-solid fa-layer-group"></i>
        </a>
      </li>
      <li>
        <a href="{{ url_for('product.get_products') }}" class="nav-link py-3 border-bottom rounded-0" title="Products" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="fa-duotone fa-solid fa-receipt"></i>
        </a>
      </li>
    </ul>
    <div class="dropdown border-top">
        <a href="#" class="mt-1 mb-1 m-2 p-2 d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.profile_picture %}
                <img src="{{ url_for('uploaded_file', folder='users', filename=user.profile_picture) }}" alt="" width="32" height="32" class="rounded-circle me-2">
            {% else %}
                <img src="{{ url_for('uploaded_file', folder='users', filename='defaultuser.jpg') }}" alt="Default Icon" width="32" height="32" class="rounded-circle me-2">
            {% endif %}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="{{ url_for('user.edit_profile', user_id=user.id) }}">Update Profile</a></li>
            <li><a class="dropdown-item" href="{{ url_for('user.view_profile', user_id=user.id) }}">View Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('user.logout') }}">Sign out</a></li>
        </ul>
    </div>
</div>


        <!-- Main content area -->
        <div class="col-lg-11 col-md-9 col-sm-8 d-flex justify-content-center">
            {% block main_content %}
            <!-- Admin-specific content goes here -->
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
