<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- TinyMCE CDN with Your API Key -->
<!-- Place the first <script> tag in your HTML's <head> -->
    <script src="https://cdn.tiny.cloud/1/{{ TINYMCE_API_KEY }}/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    </script>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home_bp.index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="48" height="24">
            </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <!-- Center the ul with ms-auto and use d-flex to control the layout -->
                <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-center ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('admin_bp.home') if (session.get('user') and session['user']['role'] == 'admin') else url_for('home_bp.index') }}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home_bp.about') }}">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home_bp.cars') }}">
                            Cars
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home_bp.carParts') }}">
                            Car Parts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home_bp.tools') }}">
                            Tools
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home_bp.househldItems') }}">
                            Household Items
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home_bp.computers') }}">
                            Computers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('blogs.get_blogs') }}">
                            Blogs
                        </a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link active" id="cart-icon" type="button">
                            <i title="Orders" class="fa-duotone fa-solid fa-cart-shopping" style="--fa-primary-color: #74C0FC; --fa-secondary-color: #0d5d9b;"></i>
                        </button>
                    
                    </li>
                    
                
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href=" ">
                            <i tittle="Cart" class="fa-duotone fa-solid fa-bag-shopping " style="--fa-primary-color: #74C0FC; --fa-secondary-color: #0d5d9b;"></i>
                        </a>
                    </li>
                </ul>
    
    
                <!-- User Profile Dropdown -->
                {% if user %}
                <div class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.profile_picture %}
                        <img src="{{ url_for('uploaded_file', folder='users', filename=user.profile_picture) }}" alt="" width="32" height="32" class="rounded-circle me-2">
                        {% else %}
                        <img src="{{ url_for('uploaded_file', folder='users', filename='defaultuser.jpg') }}" alt="" width="32" height="32" class="rounded-circle me-2">
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('user.edit_profile', user_id=user.id) }}">Update Profile</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user.view_profile', user_id=user.id) }}">View Profile</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user.logout') }}">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <a href="{{ url_for('user.login') }}" class="nav-link">
                    <i class="bi bi-person-circle"></i> Log In
                </a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Cart Modal -->
    <div class="modal fade modal-dialog modal-dialog-scrollable" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="cart-items-list">
                        <!-- Cart items will be dynamically injected here -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <!-- Continue Shopping Button -->
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continue Shopping</button>
                    <!-- Clear Cart Button -->
                    <button type="button" class="btn btn-danger" id="clear-cart-btn">Clear Cart</button>
                </div>
            </div>
        </div>
    </div>


    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div id="flash-messages">
                <ul class="flashes list-unstyled">
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    <div class="whatsapp-button">    
        <a href="https://wa.me/+254722295419?text=Hello%20,%20I%20m%20interested%20in..." target="_blank">
            <img src="{{ url_for('static', filename='img/whatsapp.png') }}" alt="WhatsApp" width="80" height="80">
        </a>
    </div>



<footer class="bg-dark footer">
    <div class="footer-top py-8">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-8 pe-xxl-10">
                    <div class="row gy-5">
                        <div class="col-6 col-lg-4">
                            <h5 class="text-white footer-title-01">NASIM GENERAL MERCHANTS</h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li><a class="text-white text-opacity-75" href="#">Cars</a></li>
                                <li><a class="text-white text-opacity-75" href="#">Car Parts</a></li>
                                <li><a class="text-white text-opacity-75" href="#">Household Items</a></li>
                                <li><a class="text-white text-opacity-75" href="#">Computers</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-lg-4">
                            <h5 class="text-white footer-title-01">Find us online</h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li>
                                    <a class="text-white text-opacity-75" href="https://www.facebook.com/aselcars.cars?mibextid=kFxxJD" target="_blank">
                                        <i class="fa-brands fa-facebook"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a class="text-white text-opacity-75" href="https://www.tiktok.com/yourprofile" target="_blank">
                                        <i class="fa-brands fa-tiktok"></i> TikTok
                                    </a>

                                </li>
                                <li>
                                    <a class="text-white text-opacity-75" href="https://www.youtube.com/yourchannel" target="_blank">
                                        <i class="fa-brands fa-youtube"></i> YouTube
                                    </a>

                                </li>
                                <li>
                                    <a class="text-white text-opacity-75" href="https://x.com/FrankOyoo" target="_blank">
                                        <i class="fa-brands fa-x-twitter"></i> Twitter
                                    </a>

                                </li>
                                <li>

                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-lg-4">
                            <h5 class="text-white footer-title-01">Need Help?</h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li><a class="text-white text-opacity-75" href="#">Contact Us</a></li>
                                <li><a class="text-white text-opacity-75" href="#">FAQs</a></li>
                                <li><a class="text-white text-opacity-75" href="#">Offers &amp; Kits</a></li>
                                <li><a class="text-white text-opacity-75" href="#">Get the app</a></li>
                                <li><a class="text-white text-opacity-75" href="#">Store locator</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-white footer-title-01 fs-5">Subscribe to our newsletter and get 15% off your next order.</h5>
                    <div>
                        <form class="d-flex flex-row mb-2 p-1 bg-white input-group"><input type="email" class="form-control rounded border-0" placeholder="Your Email"> <button class="btn btn-secondary flex-shrink-0" type="submit">Subscribe</button></form>
                        <p class="fs-sm text-white text-opacity-75">I agree to receive Absolution newsletters</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom small py-3 border-top border-white border-opacity-10">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start py-1">
                    <p class="m-0 text-white text-opacity-75">© 2022 copyright by <a class="text-reset" href="#">bootdey.com</a></p>
                </div>
                <div class="col-md-6 text-center text-md-end py-1">
                    <ul class="nav justify-content-center justify-content-md-end list-unstyled footer-link-01 m-0">
                        <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-white text-opacity-75">Privace &amp; Policy</a></li>
                        <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-white text-opacity-75">Faq's</a></li>
                        <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-white text-opacity-75">Get a Quote</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    // Initialize AOS (if necessary)
AOS.init({
    duration: 1000,
    easing: 'ease-in-out',
    once: true,
});

// JavaScript to fade out flash messages after 3 seconds
document.addEventListener("DOMContentLoaded", function() {
    const flashMessages = document.getElementById("flash-messages");
    if (flashMessages) {
        setTimeout(function() {
            flashMessages.style.transition = "opacity 0.5s ease-out";
            flashMessages.style.opacity = 0;
            setTimeout(function() {
                flashMessages.remove(); // Remove the element from the DOM
            }, 500); // Wait for the fade-out transition to finish before removing
        }, 3000); // Display for 3 seconds
    }
});

// Function to toggle "like" status
function toggleLike(itemId, itemType, action, element) {
    fetch('/like', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ item_id: itemId, item_type: itemType, action: action }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            if (action === 'like') {
                element.classList.remove('fa-regular');
                element.classList.add('fa-solid');
                element.setAttribute('title', 'Remove from Wishlist');
                element.setAttribute('onclick', `event.stopPropagation(); toggleLike(${itemId}, '${itemType}', 'unlike', this)`);
            } else {
                element.classList.remove('fa-solid');
                element.classList.add('fa-regular');
                element.setAttribute('title', 'Add to Wishlist');
                element.setAttribute('onclick', `event.stopPropagation(); toggleLike(${itemId}, '${itemType}', 'like', this)`);
            }
        } else if (data.error) {
            alert(data.error);
        }
    })
    .catch(error => console.error('Error:', error));
}

// Open the Cart Modal when the cart icon is clicked
const cartIcon = document.getElementById('cart-icon');
const cartModal = document.getElementById('cartModal');
const modalInstance = new bootstrap.Modal(cartModal);  // Initialize Bootstrap Modal instance

cartIcon.addEventListener('click', function(event) {
    event.preventDefault();  // Prevent page reload
    modalInstance.show();  // Open the modal using Bootstrap's Modal instance
});

// Fetch cart data when the modal is about to be shown
cartModal.addEventListener('show.bs.modal', function () {
    fetch('/view_cart')
        .then(response => response.json())
        .then(data => {
            const cartItemsList = document.getElementById('cart-items-list');
            cartItemsList.innerHTML = '';  // Clear any previous items
            
            let totalPrice = 0;  // Track the total price
            
            data.forEach(item => {
                const listItem = document.createElement('li');
                listItem.classList.add('list-group-item', 'cart-item');
                
                // Create the product image
                const productImage = `<img src="${item.image}" alt="${item.name}" class="img-thumbnail" style="width: 50px; height: 50px; object-fit: cover;">`;
                
                // Create the quantity input with + and - buttons
                const quantityInput = `
                    <div class="quantity-container">
                        <button class="quantity-decrease" data-id="${item.id}">-</button>
                        <input type="number" value="${item.quantity}" class="quantity-input" data-id="${item.id}" min="1" max="99">
                        <button class="quantity-increase" data-id="${item.id}">+</button>
                    </div>
                `;
                
                // Create the item details
                const itemDetails = `
                    <div class="cart-item-info ms-3 d-flex flex-grow-1 justify-content-between">
                        <div class="cart-item-name"><strong>${item.name}</strong></div>
                        <div class="cart-item-quantity">${quantityInput}</div>
                        <div class="cart-item-price">$${item.price}</div>
                        <button class="remove-item btn btn-sm btn-danger" data-id="${item.id}">X</button>
                    </div>
                `;
                
                // Combine all parts
                listItem.innerHTML = `${productImage} ${itemDetails}`;
                
                // Add the item to the cart list
                cartItemsList.appendChild(listItem);
                
                totalPrice += item.total;  // Add to total price
            });
            
            // Show subtotal at the bottom
            const subtotalContainer = document.createElement('div');
            subtotalContainer.id = 'subtotal-container';
            subtotalContainer.innerHTML = `Subtotal: $${totalPrice.toFixed(2)}`;
            cartItemsList.appendChild(subtotalContainer);
        })
        .catch(error => {
            console.error('Error fetching cart items:', error);
        });
});

// Event listener for increasing the quantity
document.addEventListener('click', function(event) {
    if (event.target.classList.contains('quantity-increase')) {
        const itemId = event.target.getAttribute('data-id');
        const inputField = document.querySelector(`.quantity-input[data-id="${itemId}"]`);
        let quantity = parseInt(inputField.value);
        quantity++;
        inputField.value = quantity;  // Update the quantity
    }
});

// Event listener for decreasing the quantity
document.addEventListener('click', function(event) {
    if (event.target.classList.contains('quantity-decrease')) {
        const itemId = event.target.getAttribute('data-id');
        const inputField = document.querySelector(`.quantity-input[data-id="${itemId}"]`);
        let quantity = parseInt(inputField.value);
        if (quantity > 1) {
            quantity--;
            inputField.value = quantity;  // Update the quantity
        }
    }
});

// Close Modal: Ensure that closing the modal works automatically
const closeButton = document.querySelectorAll('[data-bs-dismiss="modal"]');
closeButton.forEach(button => {
    button.addEventListener('click', () => {
        modalInstance.hide();  // Hide the modal using Bootstrap's Modal instance
    });
});

// Event listener for removing items from the cart (use event delegation)
document.getElementById('cart-items-list').addEventListener('click', function(event) {
    if (event.target.classList.contains('remove-item')) {
        const itemId = event.target.getAttribute('data-id');
        removeCartItem(itemId);
    }
});

function removeCartItem(itemId) {
    fetch('/remove_cart_item', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ item_id: itemId }),  // Send the item_id to the backend
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            // Remove the item from the DOM
            document.querySelector(`.cart-item[data-id="${itemId}"]`).remove();
        } else {
            // Handle error (optional)
            alert(data.message || 'Error removing item.');
        }
    })
    .catch(error => console.error('Error removing item:', error));
}


</script>

</body>
</html>











