{% extends 'admin_base.html' %}

{% block main_content %}

<div class="container">
    
    <div class="row mb-4 mt-2 col-lg-6 form">
        <form method="GET" action="{{ url_for('user.view_all_users') }}">
            <input class="form-control" type="text" name="search" placeholder="Search users..." required>
            <button class="btn-login" type="submit">Search</button>
        </form>
    </div>


    <div class="row">
        {% for user in users %}

        <div class="col-lg-4 mb-5 ">
            <div class="profile">
                <a href="{{ url_for('order.user_orders', user_id=user.id) }}">
                    <button class="mail">
                        <svg
                        class="lucide lucide-mail"
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        viewBox="0 0 24 24"
                        height="24"
                        width="24"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <rect rx="2" y="4" x="2" height="16" width="20"></rect>
                        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                        </svg>
                    </button>
                </a>
                <div class="profile-pic">
                    <div class="">
                        {% if user.profile_picture %}
                        <img class="w-100" src="{{ url_for('uploaded_file', folder='users', filename=user.profile_picture) }}" alt="User-Profile-Image">
                    {% else %}
                        <img class="w-100" src="{{ url_for('uploaded_file', folder='users', filename='defaultuser.jpg') }}" alt="Default Avatar">
                    {% endif %}
                    </div>

                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="name">{{ user.full_name() }}</span>
                        <span class="about-me">
                            {% if user.bio %}
                                {{ user.bio }}
                            {% else %}
                                No bio available.
                            {% endif %}
                        </span>
                    </div>
                    <div class="bottom-bottom">
                        <div class="social-links-container" >
                            
                            <div class="button ">
                               
                                <span>Role: {{ user.role.value}}</span>
                            </div>

                            <div class="button ">
                                    <span>Status: {{ user.status.display }}</span>
                            </div>
                            <div class="button">
                                    <span> Gender: {{ user.gender.value}}</span>
                            </div>
  
                        </div>
                        <button class="button">
                            <a href="{{ url_for('user.view_profile', user_id=user.id) }}" class="text-decoration-none text-dark">View Detail</a>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
