{% extends 'admin_base.html' %}

{% block main_content %}

<div class="container">
    
    <div class="row mb-4 mt-2">
        <form method="GET" action="{{ url_for('user.view_all_users') }}">
            <input type="text" name="search" placeholder="Search users..." required>
            <button type="submit">Search</button>
        </form>
    </div>


    <div class="row">
        {% for user in users %}
        <div class="col-md-4 mt-4">
            <a href="{{ url_for('user.view_profile', user_id=user.id) }}" class="text-decoration-none text-dark">
                <div class="card user-card">
                    <div class="card-header">
                        <h5>Profile</h5>
                    </div>
                    <div class="card-block">
                        <div class="user-image">
                            {% if user.profile_picture %}
                                <img src="{{ url_for('uploaded_file', folder='users', filename=user.profile_picture) }}" class="img-radius" alt="User-Profile-Image">
                            {% else %}
                                <img src="{{ url_for('uploaded_file', folder='users', filename='defaultuser.jpg') }}" class="img-radius" alt="Default Avatar">
                            {% endif %}
                        </div>
                        <h6 class="f-w-600 m-t-25 m-b-10">{{ user.full_name() }}</h6>
                        <p class="text-muted">Status: {{ user.status.name }} | Role: {{ user.role.name }} | Born: {{ user.birth_date }}</p>
                        <hr>
                        <p class="text-muted m-t-15">Activity Level: {{ user.status.display }}</p>

                        <div class="bg-c-blue counter-block m-t-10 p-15">
                            <div class="row">
                                <div class="col-4 mt-2">
                                    <i class="fa fa-comment"></i>
                                    <p>{{ user.car_count() }}</p> <!-- Replace with actual data -->
                                </div>
                                <div class="col-4 mt-2">
                                    <i class="fa fa-user"></i>
                                    <p>{{ user.order_count() }}</p> <!-- Replace with actual data -->
                                </div>
                                <div class="col-4 mt-2">
                                    <i class="fa fa-suitcase"></i>
                                    <p>{{ user.wishlist_count() }}</p> <!-- Replace with actual data -->
                                </div>
                            </div>
                        </div>
                        <p class="m-t-15 text-muted">{{ user.bio or 'No bio available.' }}</p>
                        <hr>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
