{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="mt-1 mb-3">
        <h2 class="heading">Order Details</h2>
        <p>{{ order.created_at.strftime('%d-%m-%Y- %H:%M:%S') }}</p>
        <p class="bubble col-lg-2 heading"> {{ order.get_status_display() | upper }}</p>
    </div>

    <div class="row d-flex justify-content-center">
        <!-- User Info Card -->
        <div class="col-md-5 text-2xs">
            <div class="card">
                <h3 class="m-2 heading">User Info</h3>
                <div class="card-body">
                    <p><strong>Name:</strong> {{ order.guest_name if not order.user else order.user.username }}</p>
                    <p><strong>Email:</strong> {{ order.guest_email if not order.user else order.user.email }}</p>
                    <p><strong>Phone:</strong> {{ order.guest_phone if not order.user else order.user.phone_number }}</p>
                </div>
            </div>
        </div>

        <!-- Order Info Card -->
        <div class="col-md-5">
            <div class="card">
                <div class="m-2 heading">Order Info</div>
                <div class="card-body">
                    <p><strong>Order ID:</strong> {{ order.id }}</p>
                    <p><strong>Total Price:</strong> {{ "{:,.2f}".format(order.total_price) }}</p> 
                    <p><strong>Message:</strong> {{ order.message }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <!-- Items Table -->
        <h4 class="mt-4">Items in Order</h4>
        <div class="table-responsive"> <!-- Make the table responsive -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Name</th>
                        <th>Quantity Requested</th> <!-- New column for Quantity Requested -->
                        <th>Price</th>
                        <th>View Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr id="item-{{ item.id }}">
                            <td>{{ item.id }}</td>
                            <td>
                                {% if item.car %}
                                    <a href="{{ url_for('car.get_car', car_id=item.car.id) }}">{{ item.car.model }}</a>
                                {% elif item.product %}
                                    <a href="{{ url_for('product.get_product', product_id=item.product.id) }}">{{ item.product.name }}</a>
                                {% else %}
                                    No linked item
                                {% endif %}
                            </td>
                            <td>{{ item.quantity }}</td> <!-- Quantity requested -->
>
                            <td>{{ "{:,.2f}".format(item.price) }}</td>
                            <td class="action-cell d-flex justify-content-around align-items-center">
                                <a href="{{ url_for('order.edit_order', order_id=order.id) }}" class="text-info m-1">
                                  <i class="fa-duotone fa-solid fa-pen-to-square fa-lg"></i>
                                </a>
                              </td>


                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div id="status-message" class="mt-3"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
